<!-- First Container -->
<app-navbar></app-navbar>

<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Who Am I?</h3>
  <img [src]="imageHead" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">

</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">The Client Panel</h3>
  <p> LMS Solutions </p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">About Us</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Our company is continuously growing in achieving its highest level. We need competitive people in our company. In this case, our whole team is very happy to have you. We are very proud of what we have today thus we are looking forward for best and brightest future of our company with you. Welcome.”</p>
      <img [src]="image1" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>LMS offers a comprehensive software portfolio, covering 5 key technology areas: cloud, middleware, operating platform, storage, and virtualization, provided with a subscription model. </p>
      <img [src]="image2" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>A team based environment demands that you make responsible decisions; it requires you to take charge of your career. It requires you to develop excellent interpersonal skills because you have to interact at a much different level with your team members. No longer is it just you and your job! </p>
      <img [src]="image3" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Made By Abhipsa</p>
</footer>
